<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://farnefunds.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>farnefunds.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>farnefunds</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$farnefunds</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="FarneFundsEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=wgg9oxxlnb.database.windows.net;Initial Catalog=FarneFunds1;User ID=farnefunds;Password=Je11icoe." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FarneFunds.Database.FarneFundsEntities, FarneFunds" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=wgg9oxxlnb.database.windows.net;Initial Catalog=FarneFunds;User ID=farnefunds;Password=Je11icoe." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FarneFunds.Models.ApplicationDbContext, FarneFunds" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=wgg9oxxlnb.database.windows.net;Initial Catalog=FarneFunds;User ID=farnefunds;Password=Je11icoe.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FarneFundsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.FarneDB.csdl|res://*/Database.FarneDB.ssdl|res://*/Database.FarneDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=wgg9oxxlnb.database.windows.net;Initial Catalog=FarneFunds1;User ID=farnefunds;Password=Je11icoe."</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>