@model FarneFunds.Models.TagList

@{
    ViewBag.Title = "Archived Index";
}

<div style="padding: 10px; margin-top: 15px;">
    @Html.ActionLink("Create New Tag", "Create", "Tag", new { }, new { @class = "btn btn-success" })
</div>

    <br />

    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Current Tags", "Index")</li>
        <li class="active"><a href="#">Archived</a></li>
    </ul>



    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model.ListOfTags)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Un-Archive", "UnArchive", new { id = item.Id }, new { @class = "btn btn-danger pull-right" })
                </td>
            </tr>
        }

    </table>








